<header>
  <div class="inner">
    <ul class = "mobile">
      <li>
        <button id = "btn-logo">
          <img src="/img/floz.jpg" alt="floz_logo">
          <i class="fa-solid fa-chevron-down"></i>
        </button>
      </li>
      <li id = "modal2-open">
        <i class="fa-solid fa-bars fa-xl"></i>
      </li>
      <li>
        <a href="/support">
          <i class="fa-solid fa-headset fa-xl"></i>
        </a>
      </li>
    </ul>
    <ul class = "pc">
      <li>
        <div class="title">
          <a href="/">
            <img src="/img/justice.png" alt="floz_logo">
            <p>Social Justice Cricle</p>
          </a>
        </div>
      </li>
      <li>
        <div class="title">
          <a href="">Contact Us</a>
        </div>
      </li>
      <li>
        <div class="title">
          <a href="">Podcast</a>
        </div>
      </li>
      <li>
        <div class="title">
          <a href="">News & Blog</a>
        </div>
      </li>
      <li>
        <div class="title">
          <a href="">Join Us</a>
        </div>
      </li>
      <li>
        <div class="title">
          <a href="">About Us</a>
        </div>
      </li>
      <li>
        <div class="title">
          <a href="">Our Work</a>
        </div>
      </li>
    </ul>
  </div>
</header>